* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
  max-width: 100%;
  height: 100vh;
  background-color: #f4f4f4;
}
.Instructions-button-container {
  width: 100%;
}
.Instructions-button-content {
  width: 80%;
  box-shadow: 1px 1px 18px rgba(0, 0, 0, 0.1);
  padding: 20px;
  background-color: #fff;
  border-radius: 5px;
  margin: 50px auto;
  height: 60%;
}
.Instructions-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}
.Instructions-wrapper h3 {
  font-weight: 600;
  font-size: 28px;
  color: #3498db;
}
.Instructions-wrapper p {
  font-weight: 400;
  font-size: 16.8px;
  line-height: 1.5rem;
  padding: 8px 0;
}
.Instructions-button-content button {
  border-radius: 4px;
  background-color: #3498db;
  border: none;
  padding: 8px 28px;
  margin-top: 8px;
}
.Instructions-button-content button a {
  color: #fff;
  text-decoration: none;
  font-weight: 400;
  font-size: 16px;
}
.Instructions-button-content a:hover {
  text-decoration: underline;
}
